<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="header col-6">
        <h1>Math Expressions Parser</h1>
        <p class="lead">Andrii Maistruk</p>
      </div>
       <div class="col-5" *ngIf="result">
        <p class="text-right display-3">{{result}}</p>
      
      </div>
    </div>
  </div>
</div>

<form #f="ngForm" onsubmit="return false;">
  <div class="container">

    <div class="form-group row">
      <div class=" offset-2  col-8">
        <textarea name ="formul"  required autocomplete="off" class="form-control" type="text"   placeholder="Pass expression there..." (input)="formula = $event.target.value" ></textarea>
        </div>
    </div>
    <button [disabled]="!(formula.length > 0)" class="offset-7  col-2 btn btn-primary" (click)="doCalc(formula)">Calc</button>
    <button class="col-1 btn  btn-link " (click)="addArg()">add arg...</button>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="form-group row" *ngFor="let arg of args; let i = index;">
      <label for="{{arg.name}}" class=" offset-2 col-1 col-form-label text-right">{{arg.name}}:</label>
      <div class="col-5">
        <input name ="{{arg.name}}" class="form-control" type="number" [value]="arg.value" id="{{arg.name}}" (input)="setValue($event)" >
      </div>
      <button class="col-1 btn btn-outline-secondary btn-sm" (click)="delArg(i)"><i class="material-icons">&#xE5CD;</i></button>
    </div>

  </div>

</form>